/* shared styles  */
* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

a {
    text-decoration: none;
}

.container {
    width: 75%;
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 50px;
}

section {
    margin-bottom: 130px;
}

.section-header {
    color: var(--Dark-01, #131313);
    font-size: 45px;
    font-weight: 700;
}

.section-text {
    color: var(--Dark-03, #727272);
    font-size: 16px;
    font-weight: 400;
}

.btn-primary {
    border: none;
    border-radius: 8px;
    background: #FF900E;
    padding: 20px 25px;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}


/* header styles  */

/* nav styles */

header {
    background-color: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


nav>ul {
    list-style: none;
    display: flex;
    gap: 30px;
    font-size: 18px;
    font-weight: 500px;
}

/* banner styles */

.banner {
    margin-top: 100px;
    text-align: center;
}

.banner h1 {
    color: var(--Dark-01, #131313);
    font-size: 64px;
    font-weight: 700;
    max-width: 862px;
    margin: 0 auto;
}

.banner p {
    max-width: 868px;
    margin: 0 auto;
    padding: 32px 0;
}

.banner img {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
}


/* main section styles  */

/* Features styles */
.features {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 70px;
}

.features-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.features-img img {
    border-radius: 8px;
    width: 100%;
}

.features-detail h3 {
    padding-bottom: 24px;
}

.features-detail p {
    padding-bottom: 32px;
}


/* mobile device styles  */
@media screen and (max-width: 576px) {

    header {
        padding: 20px;
    }

    .container {
        max-width: 576px;
    }



    nav,
    .features {
        flex-direction: column;
    }

    nav li {
        margin-top: 20px;
    }

    .banner img {
        width: 100%;
    }
}


/* tablet or medium devices  */
@media screen and (min-width: 576px) and (max-width: 960px) {


    .container {
        min-width: 576px;
        max-width: 960px;
    }

    nav {
        flex-direction: column;
    }

    .banner img {
        margin: 0 auto;
    }
}