/* shared styles  */
* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

a {
    text-decoration: none;
}

.container {
    width: 75%;
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 50px;
}

.section-text {
    color: var(--Dark-01, #131313);
    font-size: 45px;
    font-weight: 700;
}


/* header styles  */

header{
    background-color: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


nav > ul {
    list-style: none;
    display: flex;
    gap: 30px;
    font-size: 18px;
    font-weight: 500px;
}